<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/log.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/js/createUser.js" type="module"></script>
    <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
    <!--<script src="/js/common.js" type="module"></script>-->
    <link rel="shortcut icon" href="#">
</head>

<body>

    <div id="container" class="container-fluid justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm-12">

                <label for="username">Enter Username: </label>
                <input type="text" id="username" />
            </div>




        </div>

        <br />
        <div class="row">

            <div class="col-sm-12">

                <label for="password">Enter Password: </label>
                <input type="password" id="password" />
            </div>



            
        </div>
        <br />
        <div class="row">

            <div class="col-sm-12">

                <label for="passwordConfirm">Confirm Password: </label>
                <input type="password" id="passwordConfirm" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">

                <button id="create">Create Account</button>
            </div>


        </div>
        <br />
        <div class="row">

            <div class="col-sm-12">

                <a class="href" href="/login">Login</a>
            </div>
        </div>






    </div>



</body>

</html>