<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Frontend</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="/js/common.js" type="module"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
  <link rel="shortcut icon" href="#">
</head>

<body class="container-fluid">
  <nav class="navbar navbar-expand-lg top-header row">

    <h1 class="col-sm-10">Park Advisor</h1>

    
    <div class="col-sm-2">
      <a href="" id="logout" target="_self"><button class="btn-format">Logout</button></a>
    </div>


  </nav>


  <div class="row">

    <div id="map" class="testMap col-sm-8"></div>


    <div class="side-bar col-sm-4 container-fluid">
      <div class="row sideBtn">

        <a href="./trip" class="col-sm-12" target="_self"><button class="btn-format ">New Trip</button></a>
      </div>
      <div class="row sideBtn">
        <a href="./yourtrips" class="col-sm-12" target="_self"><button class="btn-format ">Your Trips</button></a>

      </div>

    </div>
  </div>




</body>

</html>